.profile {
    display: flex;
    margin: 0 1rem .5rem 1rem;
}
.profile-icon {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    /*border: 2px solid black;*/
    box-sizing: border-box;
}
.profile-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    margin: auto 0;
}
.profile-account-name {
    font-size: 1.5rem;
    margin-bottom: .4rem;
}
.profile-user-name {
    font-size: 1rem;
}
/*.profile-follow-done {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    margin: auto .8rem 3px .8rem;*/
/*    font-size: 1.1rem;*/
/*    line-height: 1;*/
/*}*/
.profile-follow-done {
    display: flex;
    flex-direction: row-reverse;
    margin-left: .6rem;
}
/*.profile-follow-container {*/
    /*text-align: center;*/
/*    display: flex;*/
/*    margin-bottom: .1rem;*/
/*}*/
/*.profile-followers {*/
/*    margin-left: .2rem;*/
/*}*/
.profile-follow-container {
    text-align: center;
    display: flex;
    margin-left: .6rem;
}
.profile-following {
    margin: auto 0;
}
.profile-followers {
    margin: auto 0;
}
.profile-task-container {
    display: flex;
}
.profile-todo {
    font-size: 1.4rem;
    color: #40dbbd;
    margin: auto 0;
}
.profile-done {
    font-size: 1.4rem;
    /*color: #FFD700;*/
    color:#d8ff94;
    margin: auto 0;
}
/*.profile-task-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
/*.profile-todo {*/
/*    color: #5aa65c;*/
/*}*/
/*.profile-done {*/
/*    margin-left: .2rem;*/
/*    color: #FFD700;*/
/*}*/
.profile-task-container {
    display: flex;
    flex-direction: row;
}
.profile-following > a, .profile-followers > a, .profile-todo > a, .profile-done > a{
    display: inline-block;
    padding: .3rem;
}
.profile-following > a:hover, .profile-followers > a:hover, .profile-todo > a:hover, .profile-done > a:hover{
    background-color: #383838;
    border-radius: 7px;
    /*border-bottom: 1px solid black;*/
}
/*.crown-color {*/
/*    color: #FFD700;*/
/*}*/
.profile-edit {
    margin-left: auto;
    margin-top: .2rem;
    margin-right: 1rem;
}
.profile-nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.profile-nav-li {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    border-radius: 10px;
}
.profile-nav-li:hover {
    background-color: #383838;
    /*border-bottom: 2px solid black;*/
}
.profile-hr {
    background-color: #696969;
    margin-top: .09rem;
}
.btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(189 255 204 / 85%);
}