{% extends "home/layout.html" %}

{% block head_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='follow.css')}}">
{% endblock %}

{% block head_script %}
    <script src="{{url_for('static',filename='follow.js')}}"></script>
{% endblock %}

{% block title %}
Following
{% endblock %}

{% block main_header %}
    <div class="main-header-mid">
        <div class="arrow-area">
            <a type="button" onclick="history.back()"><i class="fas fa-arrow-left fa-fw"></i></a>
        </div>
        <div class="title">
            FOLLOWING
        </div>
    </div>
{% endblock %}

{% block main_content %}
    {% if following_users %}
        {% for following_user in following_users %}
            <div class="follow-container">
                <a href="{{url_for('todo', id=following_user['id'])}}" class="follow-card">
                    <div>
                        <img class="follow-icon" src="{{url_for('static',filename=following_user['user_icon'])}}" alt="ユーザーアイコン">
                    </div>
                    <div class="follow-name-container">
                        <div class="follow-account-name">
                            {{ following_user['account_name'] }}
                        </div>
                        <div class="follow-user-name">
                            @{{ following_user['name'] }}
                        </div>
                    </div>
                    <div class="follow-task-container">
                        <div class="follow-todo">
                            <i class="fas fa-list-ul fa-fw"></i>todo {{ following_user["todo_count"] }}
                        </div>
                        <div class="follow-done">
                            <i class="fas fa-crown fa-fw"></i>done {{ following_user["done_count"] }}
                        </div>
                    </div>
                    {% if session['user_id'] == following_user['id'] %}
                    
                    {% elif following_user["is_login_user_following"] %}
                        <div class="follow-btn-container">
                            <button type="submit" id="{{following_user['id']}}" class="btn btn-outline-success js-follow-btn" onclick="return false">Following</button>
                        </div>
                    {% else %}
                        <div class="follow-btn-container">
                            <button type="submit" id="{{following_user['id']}}" class="btn btn-success js-follow-btn" onclick="return false">Follow</button>
                        </div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    <!--1人もフォローしていない場合-->
    {% else %}
        <div class="follow-container">
            <p class="follow-none">現在フォロしているユーザーはいません</p>
        </div>
    {% endif %}

{% endblock %}