{% extends "home/layout.html" %}

{% block title %}
    Post & Comment
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{url_for('static',filename='profile.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='timeline.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
{% endblock %}

{% block head_script %}
<script type="text/javascript" src="{{url_for('static',filename='good.js')}}"></script>
{% endblock %}



{% block main_header %}
    <div class="main-header-top">
        <div class="arrow-area">
            <a type="button" onclick="history.back()"><i class="fas fa-arrow-left fa-fw back-arrow"></i></a>
        </div>
        <div class="title">
            PROFILE
        </div>
    </div>
{% endblock %}
{% block main_content %}


<!--プロフィールの情報を表示する-->
    <div class="profile">
        <div>
            <img class="profile-icon" src="{{url_for('static',filename=profile['icon'])}}" alt="ユーザーアイコン">
        </div>
        <div class="profile-name-container">
            <div class="profile-account-name">
                {{ profile['account_name'] }}
            </div>
            <div class="profile-user-name">
                @{{ profile['user_name'] }}
            </div>
        </div>
        <div class="profile-follow-done">
            <div class="profile-follow-container">
                <div class="profile-following">
                    <a href="{{url_for('followingList', user_id=profile['id'])}}">{{ profile['following_count'] }} following</a>
                </div>
                <div class="profile-followers">
                    <a href="{{url_for('followersList', user_id=profile['id'])}}">{{ profile['followers_count'] }} followers</a>
                </div>
            </div>
            <div class="profile-task-container">
                <div class="profile-todo">
                    <a href="{{url_for('todo', id=profile['id'])}}"><i class="fas fa-list-ul fa-fw"></i>todo {{ profile["todo_count"] }}</a>
                </div>
                <div class="profile-done">
                    <a href="{{url_for('done', id=profile['id'])}}"><i class="fas fa-crown fa-fw"></i>done {{ profile["done_count"] }}</a>
                </div>
            </div>
        </div>

    {% if session['user_id']==profile["id"] %}
        <form action="{{url_for('edit_profile', profile_id=profile['id'] )}}" class="profile-edit">
            <button type="submit" class="btn btn-outline-success">Edit Profile</button>
        </form>
    {% endif %}
</div>

<!--プロフィール下のナビゲーションバー-->
<div>
    <ul class="profile-nav-ul">
        <a href="{{url_for('todo', id=profile['id'])}}" class="profile-nav-li"><li>Todo</li></a>
        <a href="{{url_for('done', id=profile['id'])}}" class="profile-nav-li"><li>Done</li></a>
        <a href="{{url_for('post_comment', id=profile['id'])}}" class="profile-nav-li"><li>Posts & comment</li></a>
    </ul>
</div>
<hr class="profile-hr">

<!--プロフィールの下の投稿-->
{% for tweet in tweets %}
<div class="block post {% if tweet['is_deleted'] == 1 %}none{% endif %}" id="{{tweet.id}}del">
    <div>
        <input type="image" class="icon" src="{{url_for('static',filename=tweet['user_icon'])}}" alt="プロフィールボタン">
    </div>
    <div class="card" style="width: 100%;">
        <div class="block">
            <p class="card-name">{{tweet.account_name}}</p>
            <p>@{{tweet.name}}</p>
            <p class="righten">{{tweet.created_at}}</p>
        </div>
        <div class="block card-content">
            <p class="card-content"><i class="bi {%if tweet.is_completed == 1 %}bi-check2-circle complete{% elif tweet.is_completed == 2 %}bi-droplet limit{% else %}bi-plus-circle add{% endif %}"></i><span style="font-size:18px;">{{tweet.content}}</span></p>
        </div>
        <div class="block righten">
           <div class="block mr-4">
                <!--<p class="bottom">do your best!</p>-->
                {% if tweet.good  %}
                    <button href="/good" class="button btn btn-sm block btn-outline-success good good-btn" data-tweet_id="{{tweet.id}}">
                {% else %}
                    <button href="/good" class="button btn btn-sm block btn-outline-success good-btn" data-tweet_id="{{tweet.id}}">
                {% endif %}

                {% if tweet.is_completed == 0 %}
                <p class="mb-0 pt-1">Do Your Best!</p><i class="bi bi-hand-thumbs-up-fill mr-1 ml-1" style="font-size: 18px"></i>
                {% elif tweet.is_completed == 1 %}
                <p class="mb-0 pt-1"> Good Work!　<i class="fas fa-hand-sparkles" style="font-size: 18px"></i> </p>
                {% elif tweet.is_completed == 2 %}
                <p class="mb-0 pt-1">It's deadline...</p><i class="bi bi-emoji-smile-upside-down-fill mr-1 ml-1" style="font-size: 18px"></i>
                {% endif %}

                <p class="mb-0 pt-1" id={{tweet.id}}>{{tweet.good_count}}</p>
                </button>
            </div>
            <div class="block mr-4">
                <a href="/comment/{{tweet.id}}" class="button btn btn-sm block btn-outline-success">
                <p class="mb-0 pt-1"></p>
                <i class="bi bi-chat-text-fill mr-2 ml-2" style="font-size: 18px"></i>
                <p class="mb-0 pt-1">{{tweet.comment_count}}</p>
                </a>
            </div>
            {%if tweet.user_id == login_user %}
            <button type="button" class="btn btn-sm btn-outline-success post-delete" data-tweet_id="{{tweet.id}}">
              <i class="bi bi-trash-fill" style="font-size: 18px"></i>
            </button>
            {% else %}
            <a href ="#" class="hidden button btn btn-sm">
              <i class="bi bi-trash-fill" style="font-size: 18px"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}


